
<!-- <h1 style="color:blue;">City to City</h1> -->
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
<!--         <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            </div>
            </div>
            <div class="col s12 m8">
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div> -->

        </div>
         </div>

<!-- <ol>
  <% @cities.each do |city| %>
    <li>
      <%= link_to city.name, city%>
    </li>
  <% end %>
</ol> -->

