// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // display: flex;
  height: 750px;
  // background-image: url('https://c1.staticflickr.com/8/7424/12440279504_5ce424f40f_b.jpg');
}

ol {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city_links {
  display: flex;
  font-size: 2em;
  color: white;
}

nav a {
  color: black !important;
}

.city_name_nav {
	color: black;
	padding-right: 620px;
	padding-top: 1px;
	font-size: 20px;
}