/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .parallax-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5))
 }

.btn-large {
  background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*form fields*/

/*.field {
    font-size: 2em !important;
}*/

label {
    font-size: 1rem;
    color: #9e9e9e;
}

input {
    font-size: 1.75em !important;
}

/*Button CSS*/
.waves-button-input{
  padding-top: 5px;
}

 .btn {
   background-image: none !important;
   outline: 0;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
 }
 .btn-large a {
   color: white;
 }
