/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .parallax-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5))
 }

.btn-large {
  background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*form fields*/

/*.field {
    font-size: 2em !important;
}*/

label {
    font-size: 1rem;
    color: #9e9e9e;
}

input {
    font-size: 1.75em !important;
}

/*Button CSS*/
.waves-button-input{
  padding-top: 5px;
}

 .btn {
   background-image: none !important;
   outline: 0;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
 }
 .btn-large a {
   color: white;
 }

.mg-fluid {
  width: 75%;
}

.list-group-item.active {
    background-color: #33b5e5
    border-color:#33b5e5
}

.list-group-item:not(.active) {
    color:#222;
}

.list-group-item:not(.active):hover {
    color:#666;
}/* YOUR CUSTOM STYLES */

.city-show {
  margin-top: 20px;
}

.reviews {
  width: 100%;
}

.parallax-footer {
  display: block; transform: translate3d(-50%, 145px, 0px);
}

.btn {
    font-size: 0.8rem;
    padding: 0.2rem 2.13rem !important;
}

.city_name_nav {
  color: #00ab9d;
  padding-right: 20px;
}

.parallax img {
    display: none;
    left: 50%;
    bottom: -200px;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bottom-img {
  top: 150px;
}

a {
    color: #00ab9d;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.view-profile {
    overflow: hidden;
    position: relative;
    cursor: default;
    margin-top: 5%;
}

.btn a {
    color: #fff;
}



.hr-line {
  border-left: rgba(0, 0, 0, 0.05) 1px solid;
  margin-top: 9%;
}

.back {
    font-size: 1.4rem;
    padding: 0.1rem 2.13rem !important;
}

.pagination > * {
	padding: 0 4px 0 4px;
}
