<!DOCTYPE html>
<html>
  <head>
    <title>CityToCity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image:url('https://c1.staticflickr.com/8/7424/12440279504_5ce424f40f_b.jpg')">
    <h2>Hey from Atlanta</h2>
    <%= yield %>
  </body>
</html>
